@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #603813;
    --background: 31 98.35% 98.46%;
    --foreground: 31 6.7% 0.92%;

    --muted: 31 6.7% 92.3%;
    --muted-foreground: 31 3.35% 42.3%;

    --popover: 31 3.35% 96.15%;
    --popover-foreground: 31 6.7% 1.1500000000000001%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 31 11.7% 89.92%;
    --input: 31 11.7% 89.92%;

    --primary: 31 67% 23%;
    --primary-foreground: 31 1.34% 92.3%;

    --secondary: 31 3.35% 96.15%;
    --secondary-foreground: 31 5.0200000000000005% 12.3%;

    --accent: 31 3.35% 96.15%;
    --accent-foreground: 31 5.0200000000000005% 12.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 31 67% 23%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
